<mat-card>
    <mat-card>
        <mat-form-field><input matInput placeholder="Nombre" [(ngModel)]="Nombre" name="Nombre" /></mat-form-field>        
        <mat-form-field><input matInput placeholder="Moneda" [(ngModel)]="Moneda" name="Moneda" /></mat-form-field>

        <button mat-button name="action" (click)="actionPais()">{{action}}</button>
        <button mat-button name="search" (click)="searchPais()">Search</button>
    </mat-card>
    <mat-card>
        <mat-table #table [dataSource]="paises" matSort>
            <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let pais"><button mat-button name="edit" (click)="deletePais(pais)">Delete</button></td>
            </ng-container>

            <ng-container matColumnDef="edit">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let pais"><button mat-button name="edit" (click)="editPais(pais)">Edit</button></td>
            </ng-container>

            <ng-container matColumnDef="{{column.id}}" *ngFor="let column of columnNames">
                <mat-header-cell *matHeaderCellDef mat-sort-header> {{column.value}} </mat-header-cell>
                <mat-cell *matCellDef="let pais"> {{pais[column.id]}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="keysOfPaises"></mat-header-row>
            <mat-row *matRowDef="let row; columns: keysOfPaises;"></mat-row>
        </mat-table>
    </mat-card>
</mat-card>
