<p-scrollPanel [style]="{width: '100%', height: '100%'}">
    <p-panel header="Catálogo de Paises">
        <div class="p-col">
            <label>Nombre</label>
            <input pInputText placeholder="Nombre" [(ngModel)]="Nombre" name="Nombre" id="Nombre" type="text" size="30" />

            <label>Moneda</label>
            <input pInputText placeholder="Moneda" [(ngModel)]="Moneda" name="Moneda" type="text"/>
        </div>
        <p-footer>
            <button pButton type="button" icon="pi pi-plus" label="{{action}}" (click)="actionPais()" class="first ui-button-secondary" ></button>
            <button pButton type="button" icon="pi pi-search" label="Search" (click)="searchPais()" class="first ui-button-secondary" ></button>
        </p-footer>
    </p-panel>
    <br>
    <p-table [value]="paises">
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 120px;"></th>
                <th style="width: 120px;"></th>
                <th style="width: 10%;">PaisID</th>
                <th style="width: 25%;">Nombre</th>
                <th style="width: 15%;">CodMoneda</th>

                <th style="width: 15%;">Moneda</th>
                <th style="width: 15%;">FUM</th>
                <th style="width: 10%;">Activo</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-pais>
            <tr>
                <td><button pButton type="button" icon="pi pi-trash" label="Delete" (click)="deletePais(pais)" class="first ui-button-danger" ></button></td>
                <td><button pButton type="button" icon="pi pi-pencil" label="Edit" (click)="editPais(pais)" class="first ui-button-secondary" ></button></td>
                <td>{{pais.PaisID}}</td>
                <td>{{pais.Nombre}}</td>
                <td>{{pais.CodMoneda}}</td>

                <td>{{pais.Moneda}}</td>
                <td>{{pais.FechaUltimaModificacion | date:"yyyy/MM/dd HH:mm"}} </td>
                <td><mat-checkbox disabled="true" checked ="{{pais.Activo ==='true' ? true : false }}" ></mat-checkbox></td>
            </tr>
        </ng-template>
    </p-table>
</p-scrollPanel>    