 <div [matMenuTriggerFor]="sdprofile"  class="user-profile" style="background: url(assets/images/background/user-info.jpg) no-repeat; cursor: pointer;">
    <div class="profile-img" style="display: table-cell; vertical-align: middle; text-align: center; width: 250px;"> 
        <img style="width: 60px; height: 60px;" src="assets/images/users/profile.png" alt="user"> </div>
    <div class="profile-text"><a class="" style="display: table-cell; vertical-align: middle; text-align: center; width: 250px;">
        User Name<i class="ti-angle-down font-12 m-l-5"></i></a>
    </div>
    <mat-menu #sdprofile="matMenu" class="mymegamenu">
        <button mat-menu-item>
            <mat-icon>settings</mat-icon> Settings </button>
        <button mat-menu-item>
            <mat-icon>account_box</mat-icon> Profile </button>
        <button mat-menu-item>
            <mat-icon>notifications_off</mat-icon> Disable notifications </button>
        <button mat-menu-item>
            <mat-icon>exit_to_app</mat-icon> Sign Out </button>
    </mat-menu>    
</div>

<p-panelMenu [multiple]="false" [model]="menuItems.getMenuitem()" [style]="{'width':'250px'}"></p-panelMenu>